#wrapper {
  background-color: #fffaef;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}

#wordBookNav {
  margin-left: 10px;
  margin-right: 10px;
}

.round {
  border-radius: 20px;
}

.me {
  border-radius: 100px;
}

.hidden {
  display: none;
}

.marginTop {
  margin-top: 50px;
}

.orange {
  color: #ff7f27;
}

#main {
  padding-left: 6px;
}

img[alt="UK-flag"] {
  position: relative;
  right: 7px;
}

#page-info {
  padding-top: 18px;
}

.hint {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 50px;
}

#selectPage, #selectChapter {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#selectPage span, #selectChapter span {  
  font-size: 24px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer-item {
  width: 33.33%;
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 650px) {
  .github {
    width: 32px;
  }

  .rsschooljs {
    width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .round {
    width: 100%;
  }
}